@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --surface: #121212;
  --surface-highlight: #1e1e1e;
  --primary: #2563eb;
  --stealth-green: #10b981;
  --alert-red: #ef4444;
  --text-muted: #a1a1aa;
}

body {
  background-color: var(--background);
  color: #ffffff;
}

code,
pre,
kbd,
samp {
  font-family: var(--font-jetbrains-mono), monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
